---
import Layout from '../layouts/Layout.astro';
import { Button } from "@/components/ui/button"
import { Card } from "@/components/ui/card"
---

<Layout title="Astro + shadcn/ui">
	<main>
		<Card className="m-8 p-6" client:visible>
			<h1>Welcome to Astro</h1>
			<Button client:load>A Nice Button</Button>
		</Card>
	</main>
</Layout>
